[submodule "chain/ipxe"]
	path = chain/ipxe
	url = git://git.ipxe.org/ipxe.git
[submodule "cni"]
	path = cni
	url = https://github.com/containernetworking/cni.git
[submodule "runtime/acserver"]
	path = runtime/acserver
	url = https://github.com/JulienBalestra/acserver.git
