coreos_production_pxe_image.cpio.gz
coreos_production_pxe_image.cpio.gz.sig
coreos_production_pxe.vmlinuz.sig
CoreOS_Image_Signing_Key.asc
coreos_production_pxe.vmlinuz
/.idea/
/bootcfg/assets/setup-network-environment/1.0.1/setup-network-environment
/bootcfg/assets/setup-network-environment/1.0.1/setup-network-environment.sha512
serve