[Unit]
Description=CoreOS Metadata Agent (SSH Keys)

[Service]
Type=oneshot
ExecStart=/usr/bin/coreos-metadata -provider ec2 --ssh-keys=%i

[Install]
DefaultInstance=core
RequiredBy=multi-user.target