targetWorkDir: __FULLPATH__/target

rkt:
  path: __FULLPATH__/rkt_dir/rkt
  insecureOptions: [image]
  dir: __FULLPATH__/rkt_dir
  localConfig: __FULLPATH__
  systemConfig: __FULLPATH__
  userConfig: __FULLPATH__
  trustKeysFromHttps: false
  noStore: false
  storeOnly: false
