[Service]
Environment=ENJOLIVER_EF=/etc/enjoliver.env

ExecStartPre=/bin/mkdir -p /var/lib/enjoliver
ExecStartPre=/bin/mkdir -p /var/lib/bootcfg/groups
ExecStartPre=/bin/mkdir -p /var/lib/bootcfg/profiles

ExecStart=/usr/bin/rkt \
    run --interactive \
    --net=host \
    --set-env-file=${ENJOLIVER_EF} \
    --volume=enjoliver-path,kind=host,source=/var/lib/enjoliver,readOnly=false \
    --volume=bootcfg-groups,kind=host,source=/var/lib/bootcfg/groups,readOnly=false \
    --volume=bootcfg-profiles,kind=host,source=/var/lib/bootcfg/profiles,readOnly=false \
    static-aci-enjoliver \
	--exec /opt/enjoliver/app/plans/all_in_one.py