<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="static/media/favicon.ico">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/node_modules/vue/dist/vue.js"></script>
    <script src="static/node_modules/vue-resource/dist/vue-resource.min.js"></script>
    <title>Enjoliver</title>
</head>
<body>
<nav class="navbar navbar-default" style="">
    <div class="row">
        <div class="col-md-4">
            <img style="display: inline-block;
            height: 50px; margin-top: 2px; margin-bottom: 2px; margin-left: 2px"
                 src="static/media/wheel.jpg">
        </div>
        <div class="col-md-8">
            <h3>Enjoliver</h3>
        </div>

    </div>
</nav>
<div class="container" style="margin-left: 5%">
    <div class="row">
        <div class="col-md-12">
            <div id="machine">
                <form id="search" style="margin-bottom: 10px">
                    Search <input name="query" v-model="searchQuery">
                </form>
                <machine-grid
                        :data="gridData"
                        :columns="gridColumns"
                        :filter-key="searchQuery">
                </machine-grid>
            </div>
        </div>
    </div>
</div>
</body>
<template id="grid-template">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th v-for="key in columns"
                @click="sortBy(key)"
                :class="{ active: sortKey == key }">
                {{ key | capitalize }}
                <i class="fa" :class="sortOrders[key] > 0 ? 'fa-arrow-up' : 'fa-arrow-down'"></i>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="entry in filteredData">
            <td v-for="key in columns">{{ entry[key] }}</td>
        </tr>
        </tbody>
    </table>
</template>
<script src="static/js/ui.js"></script>
</html>